params {
    // Define your workflow parameters here if needed
    params.s3_dir = ""
    params.pipeline = ""
    params.output_file = ""
    params.sarek_status = ""
    params.sarek_mapping_table = ""
}

nextflow {
    // Define Nextflow global settings
    version = '21.04.3'  // Replace with your desired Nextflow version
    executor = 'local'  // Set the executor to 'local' for local execution

    // Adjust the following settings based on your workflow requirements
    tower.enabled = true
}


